﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
	body{
		background-color: #c4e4f4;
		font-family: JasmineUPC;
		font-size: 350%;
		
	}
	
	.jumbotron{
		background-color: #84cee8;
		font-family: JasmineUPC;
		font-size: 350%;
		
		
	}
</style>

<div class="jumbotron">     
	<center><h2> Happy Drug </h2><center> 
	<center><p> ร้านขายยาแห่งความสุข </p><center>
</div>

	
	@foreach (var drug in Model.Drugs)
	{
		@if (@drug.Stock < 5)
				{
					<h3>ชนิดของยา : @drug.CatName ใกล้หมดแล้วนะ</h3>
				}
	}
	
	<br>
	
		
	@foreach (var drug in Model.Drugs)
	{
		<div class="row">
			<div class="col-md-3">
				<h3>ชนิดของยา : @drug.CatName </h3>
				<h3>จำนวนคงเหลือ : @drug.Stock กล่อง</h3> 
			</div>
		</div>
	}

