@page
@model HappyDrug.Pages.Admin.DeleteModel

@{
    ViewData["Title"] = "ลบรายการ";
}

<h2>ลบรายการ</h2>


<div>
    <h4>รายการยา</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			ชื่อยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CatName)
        </dd>
        <dt>
			จำนวนคงเหลือ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Stock)
        </dd>
        <dt>
			พนักงาน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.checkUser.FirstName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Category.CategoryID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">ย้อนกลับ</a>
    </form>
</div>
