@page
@model HappyDrug.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    <h4>รายการยา</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			ชื่อยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CatName)
        </dd>
        <dt>
			จำนวนคงเหลือ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Stock)
        </dd>
        <dt>
			พนักงาน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.checkUser.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.CategoryID">แก้ไข</a> |
    <a asp-page="./Index">ย้อนกลับ</a>
</div>
