@page
@model HappyDrug.Pages.Admin.EditModel

@{
    ViewData["Title"] = "แก้ไขข้อมูล";
}

<h2>แก้ไขข้อมูล</h2>

<h4>รายการยา</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.CategoryID" />
            <div class="form-group">
				ชื่อยา
                <input asp-for="Category.CatName" class="form-control" />
                <span asp-validation-for="Category.CatName" class="text-danger"></span>
            </div>
            <div class="form-group">
				จำนวนคงเหลือ
                <input asp-for="Category.Stock" class="form-control" />
                <span asp-validation-for="Category.Stock" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
