@page
@model HappyDrug.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "แก้ไขรายการยา";
}

<h2>แก้ไขรายการยา</h2>

<p>
    <a asp-page="Create">เพิ่มรายการยา</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
					<h3>ชื่อยา</h3>
            </th>
            <th>
					<h3>จำนวนคงเหลือ</h3>
            </th>
            <th>
					<h3>ชื่อพนักงานแก้ไข</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checkUser.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
